@charset "UTF-8";
/**
  Нормализация блочной модели
 */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --color-black: rgba(30, 33, 44, 1);
  --color-primary: rgba(255, 63, 58, 1);
  --color-primary-second: rgb(230, 179, 178);
  --color-gray: rgba(154, 156, 165, 1);
  --color-gray-1: rgba(215, 218, 221, 1);
  --color-white: rgba(255, 255, 255, 1);
  --border-radius: 4px;
  --box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  --transition-duration: 0.2s;
}

body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 50px 30px 80px 30px;
  font-family: "Lato", sans-serif;
  color: var(--color-black);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}

.field {
  position: relative;
}
.field:has(.field__input:not(:placeholder-shown)) .field__label {
  color: var(--color-black);
  scale: 0.9;
  translate: -1.5em -3em;
}
.field__label {
  position: absolute;
  top: 50%;
  left: 17px;
  color: var(--color-gray);
  translate: 0 -50%;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}
.field__input {
  --fieldInputPaddingX: 16px;
  --fieldSeachInputIconSize: 16px;
  max-width: 315px;
  width: 100%;
  height: 42px;
  padding-inline: var(--fieldInputPaddingX);
  background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-gray-1);
}
.field__input:hover, .field__input:focus {
  border-color: var(--color-black);
}
.field__input:focus {
  background-color: var(--color-gray-1);
  outline: none;
}
.field__input:placeholder-shown {
  padding-right: calc(var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize));
  background-image: url("../image/icons/search.png");
  background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
  background-size: var(--fieldSeachInputIconSize);
  background-repeat: no-repeat;
}

.task {
  width: 100%;
  max-width: 1230px;
  text-align: center;
}
.task__subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.task__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: 0;
  margin-bottom: 85px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;
}
.nav__categories-btn {
  position: relative;
  color: var(--color-gray);
  background-color: var(--color-white);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  text-align: center;
}
.nav__categories-btn:hover {
  color: var(--color-black);
}
.nav__categories-btn--active {
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  transition: var(--transition-duration);
}
.nav__categories-btn--active:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-second);
}
.nav__search {
  max-width: 315px;
  width: 100%;
}

sup {
  font-size: 10px;
  font-weight: 900;
  line-height: 1.5;
}

.cards-container {
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  margin-bottom: 80px;
}

.card {
  max-width: 390px;
  width: 100%;
  margin-inline: auto;
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
@media (max-width: 450px) {
  .card {
    width: 300px;
  }
}
.card__image {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 450px) {
  .card__image {
    width: 300px;
  }
}
.card__info {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 20px;
}
.card__title {
  display: inline-block;
  width: auto;
  border-radius: var(--border-radius);
  color: var(--color-white);
  padding: 1px 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
}
.card__description {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0;
}
.card__footer {
  color: rgb(120, 122, 128);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0%;
}
.card__price {
  color: rgb(255, 66, 66);
  font-size: 18px;
  font-weight: 700;
}

.footer {
  display: flex;
  justify-content: center;
  column-gap: 16px;
}
.footer__img {
  cursor: pointer;
}
.footer__text {
  color: rgb(66, 69, 81);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0;
  cursor: pointer;
}

.dots {
  position: absolute;
  top: 50px;
  right: -45px;
}

.shapes-1 {
  position: absolute;
  top: 687px;
  left: 56px;
}

.shapes-2 {
  position: absolute;
  top: 1104px;
  right: 72px;
}

@media (max-width: 1600px) {
  .dots,
  .shapes-1,
  .shapes-2 {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */