.task {
  width: 100%;
  max-width: 1230px;
  text-align: center;

  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 8px;
  }

  &__title {
    font-size: 46px;
    font-weight: 900;
    line-height: 1.3;
    letter-spacing: 0;
    margin-bottom: 85px;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 60px;

  &__categories-btn {
    position: relative;
    color: var(--color-gray);
    background-color: var(--color-white);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    text-align: center;

    &:hover {
      color: var(--color-black);
    }

    &--active {
      color: var(--color-primary);
      border: 1px solid var(--color-primary);
      border-radius: var(--border-radius);
      transition: var(--transition-duration);

      &:hover {
        color: var(--color-primary);
        background-color: var(--color-primary-second);
      }
    }
  }

  &__search {
    max-width: 315px;
    width: 100%;
  }
}

sup {
  font-size: 10px;
  font-weight: 900;
  line-height: 1.5;
}

.cards-container {
  display: grid;
  gap: 30px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(390px, 1fr));
  margin-bottom: 80px;
}

.card {
  max-width: 390px;
  width: 100%;
  margin-inline: auto;
  box-shadow: var(--box-shadow);
  cursor: pointer;

  @media (max-width: 450px) {
    width: 300px;
  }

  &__image {
    max-width: 100%;
    height: auto;
    display: block;

    @media (max-width: 450px) {
      width: 300px;
    }
  }

  &__info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 20px;
  }

  &__title {
    display: inline-block;
    width: auto;
    border-radius: var(--border-radius);
    color: var(--color-white);
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__description {
    text-align: left;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__footer {
    color: rgba(120, 122, 128, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0%;
  }

  &__price {
    color: rgba(255, 66, 66, 1);
    font-size: 18px;
    font-weight: 700;
  }
}

.footer {
  display: flex;
  justify-content: center;
  column-gap: 16px;

  &__img {
    cursor: pointer;
  }

  &__text {
    color: rgba(66, 69, 81, 1);
    font-weight: 700;
    line-height: 1.6;
    letter-spacing: 0;
    cursor: pointer;
  }
}

.dots {
  position: absolute;
  top: 50px;
  right: -45px;
}

.shapes-1 {
  position: absolute;
  top: 687px;
  left: 56px;
}

.shapes-2 {
  position: absolute;
  top: 1104px;
  right: 72px;
}

.dots,
.shapes-1,
.shapes-2 {
  @media (max-width: 1600px) {
    display: none;
  }
}
