:root {
  --color-black: rgba(30, 33, 44, 1);
  --color-primary: rgba(255, 63, 58, 1);
  --color-primary-second: rgb(230, 179, 178);
  --color-gray: rgba(154, 156, 165, 1);
  --color-gray-1: rgba(215, 218, 221, 1);
  --color-white: rgba(255, 255, 255, 1);

  --border-radius: 4px;

  --box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03),
    0px 12px 10px -6px rgba(154, 156, 165, 0.04),
    0px 30px 24px -10px rgba(154, 156, 165, 0.05),
    0px 80px 80px -20px rgba(154, 156, 165, 0.08);

  --transition-duration: 0.2s;
}
