.field {
  position: relative;

  &:has(.field__input:not(:placeholder-shown)) .field__label {
    color: var(--color-black);
    scale: 0.9;
    translate: -1.5em -3em;
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 17px;
    color: var(--color-gray);
    translate: 0 -50%;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
  }

  &__input {
    --fieldInputPaddingX: 16px;
    --fieldSeachInputIconSize: 16px;

    max-width: 315px;
    width: 100%;
    height: 42px;
    padding-inline: var(--fieldInputPaddingX);
    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-gray-1);

    &:hover,
    &:focus {
      border-color: var(--color-black);
    }

    &:focus {
      background-color: var(--color-gray-1);
      outline: none;
    }

    &:placeholder-shown {
      padding-right: calc(
        var(--fieldInputPaddingX) * 2 + var(--fieldSeachInputIconSize)
      );
      background-image: url("../image/icons/search.png");
      background-position: calc(100% - var(--fieldInputPaddingX)) 50%;
      background-size: var(--fieldSeachInputIconSize);
      background-repeat: no-repeat;
    }
  }
}

// .task__field {
//   width: 100%;
// }
