body {
  position: relative;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 50px 30px 80px 30px;
  font-family: "Lato", sans-serif;
  color: var(--color-black);
}

input,
label,
button {
  transition-duration: var(--transition-duration);
}
